<!DOCTYPE html>
{% load static %}

<html lang="en">

    <head>
        <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" type="text/css">

    <meta charset="UTF-8">
        {%if title%}
        <title>{{title}}</title>
        {%else%}
        <title>Welcome</title>
        {%endif%}
    </head>
    <body>
        <div class="main_menu">
            <div class="sub_main_menu">
            <a href="{% url 'order-list' %}">Главная страница</a> | <a href="{% url 'requisites-list' %}">Страница с реквизитами</a>
                 | <a href="{% url 'user-roles' %}">Пользователи сайта</a> | <a href="{% url 'api' %}">API Rest</a>
            </div>
        </div>
        <hr/>
        {% if messages %}
        	{% for message in messages %}
            	{{ message }}
        	{% endfor %}
        {% endif %}
        {%block content%} {%endblock%}
    </body>
</html>