/*a{
    text-decoration: none;
    color: #808080;
    border-bottom: 1px dashed #808080;
}
a:hover{
    text-decoration: none;
    color: #696969;
    font-weight: bold;
    border-bottom: 1px dashed #808080;
}*/

.list-orders{
	border: 1px solid black;
	border-collapse: collapse; /*collapse|separate*/
	text-align: center;
	vertical-align: middle;
	width: 100%;
	box-shadow: 0px 0px 5px 0px black;

}

.list-orders tr {
	height: 35px;
}

.list-orders tr:nth-child(odd){
	background-color: #D3D3D3;
}

.list-orders tr:nth-child(even){
	border-top: 0px solid black;
}

.list-orders th {
	background-color: #D3D3D3;
	height: 35px;
	position: sticky;
	top: 0;
}

.list-orders td:first-child {
	background-color: #D3D3D3;
	font-weight: bold;
	position: sticky;
	left: 0;
}

.cancel_delete {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    display: block;
    height: 26px;
    width: 119px;
    border: 1px solid grey;
    border-radius: 2px;
    text-align:center;
    background: #efefef;
    cursor: default;
    float: left;
    margin-left: 15px;
    padding-top: 2px;
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

}
.cancel_delete:hover {
    background: #e5e5e5;
    text-decoration: none;
    color: black;
    font-weight: normal;
    border-bottom: 1px solid grey;
}

.cancel_delete_btn {
    float: left;
}

.update_order_tab {
    width: 100%;
}
.update_order_tab td{
    width: 50%;
}
.update_order_tab td:nth-child(even){
    border-left: 1px solid grey;
    padding-left: 20px;
}

.main_menu{
    padding-top: 15px;
	width: 100wh;
	display: flex;
	justify-content: center;
	align-items: center;

}

.sub_main_menu{
    margin-left: 15px;
}

.sub_submenu{
    width:auto;
    height: 35px;
}

.confrim_delet_block{
	height: 100vh;
	width: 100wh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.confrim_delet_block div {
    display: block;
    width: 350px;
    height: 250px;
    text-align: center;
}

#id_requisite{
    height: 250px;
    width: 600px;
}

